@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4285f4;
}

.wrapper {
    background: #fff;
    width: 450px;
    padding: 28px;
    border-radius: 7px;
}

.wrapper .pass-field {
    height: 65px;
    width: 100%;
    position: relative;
}

.pass-field input {
    width: 100%;
    height: 100%;
    padding: 0 17px;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #999;
}

.pass-field i {
    right: 18px;
    position: absolute;
    font-size: 1.2rem;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%);
}

.wrapper .content {
    margin: 20px 0 10px;
}

.content p {
    font-size: 1.3rem;
}

.content .requirements-list {
    margin-top: 20px;
}

.requirements-list li {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirements-list li i {
    font-size: .6rem;
    color: #aaa;
    width: 20px;
}

.requirements-list li.valid i {
    font-size: 1.2rem;
    color: #4285f4;
}

.requirements-list li span {
    margin-left: 12px;
}

.requirements-list li.valid span {
    color: #999;
}

@media screen and (max-width:500px) {

    body,
    .wrapper {
        padding: 15px;
    }

    .wrapper .pass-field {
        height: 55px;
    }

    .pass-field input,
    .content p {
        font-size: 1.15rem;
    }

    .pass-field i,
    .requirements-list li {
        font-size: 1.1rem;
    }

    .requirements-list li span {
        margin-left: 7px;
    }
}